version: "3.4"

services:

  # webserver to handle all traffic. This can use let's encrypt to generate a SSL cert.
  traefik:
    image: traefik:v1.7
    command:
      - --loglevel=INFO
      - --api
      # Entrypoints
      - --defaultentrypoints=https,http
      - --entryPoints=Name:http Address::${TRAEFIK_HTTP_PORT:-8000} ${TRAEFIK_HTTP_REDIRECT:-""}
      - --entryPoints=Name:https Address::${TRAEFIK_HTTPS_PORT:-8443} ${TRAEFIK_HTTPS_OPTIONS:-TLS}
      # Configuration for acme (https://letsencrypt.org/)
      - --acme=${TRAEFIK_ACME_ENABLE:-false}
      #- --acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
      - --acme.email=${ADMIN_USER_ID:-""}
      - --acme.entrypoint=https
      - --acme.onhostrule=true
      - --acme.storage=/config/acme.json
      - --acme.httpchallenge.entrypoint=http
      - --acme.storage=/config/acme.json
      - --acme.acmelogging=true
      - --acme.domains=${HOST_NAME:-""}
      - --acme.domains=${TRAEFIK_ADDITIONAL_HOST1:-""}
      - --acme.domains=${TRAEFIK_ADDITIONAL_HOST2:-""}
      # DOCKER
      - --docker=true
      - --docker.endpoint=unix:///var/run/docker.sock
      - --docker.exposedbydefault=false
      - --docker.watch=true
      # - --docker.domain=docker.localhost
    restart: unless-stopped
    ports:
      - "${TRAEFIK_HTTP_PORT-8000}:${TRAEFIK_HTTP_PORT:-8000}"
      - "${TRAEFIK_HTTPS_PORT-8443}:${TRAEFIK_HTTPS_PORT:-8443}"
    labels:
      - "traefik.enable=true"
      - "traefik.backend=traefik"
      - "traefik.port=8080"
      - "traefik.frontend.rule=PathPrefixStrip: /traefik"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"
      # - "traefik.http.middlewares.test-auth.basicauth.users=test:$$apr1$$H6uskkkW$$IgXLP6ewTrSuBkTrqE8wj/"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DATA:-~/docker_data}/traefik:/config
    container_name: "traefik"

  # Allow to see all docker containers running, restart and see log files.
  portainer:
    image: portainer/portainer:latest
    command:
      - --admin-password=${PORTAINER_PASSWORD:- }
      - --host=unix:///var/run/docker.sock
    restart: unless-stopped
    depends_on:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.backend=portainer"
      - "traefik.port=9000"
      - "traefik.frontend.rule=PathPrefixStrip: /portainer"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA:-~/docker_data}/portainer:/data
    container_name: "portainer"

  db:
    image: postgres:11.7
    volumes:
      - "${DATA:-~/docker_data}/pgvolume:/var/lib/postgresql/data"
    ports:
      - "5432:5432"
    env_file:
      - ".env"
    environment:
      - POSTGRES_USER=${ADMIN_USER_ID:-guest}
      - POSTGRES_PASSWORD=${ADMIN_PASSWORD:-guest}
    container_name: "db"

  pgadmin:
    image: dpage/pgadmin4:4.11
    depends_on:
      - db
      - traefik
    volumes:
      - "${DATA:-~/docker_data}/pga4volume:/var/lib/pgadmin"
    env_file:
      - ".env"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${ADMIN_USER_ID:-guest}
      - PGADMIN_DEFAULT_PASSWORD=${ADMIN_PASSWORD:-guest}
    container_name: "pgadmin"
    labels:
      - "traefik.enable=true"
      - "traefik.backend=pgadmin"
      - "traefik.port=80"
      - "traefik.frontend.rule=PathPrefix:/pgadmin"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"

  rabbitmq:
    image: rabbitmq:management
    container_name: "rabbitmq"
    env_file:
      - ".env"
    restart: unless-stopped
    environment:
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_management path_prefix "/rabbitmq"
      - RABBITMQ_DEFAULT_USER=${ADMIN_USER_ID:-guest}
      - RABBITMQ_DEFAULT_PASS=${ADMIN_PASSWORD:-guest}
    labels:
      - "traefik.enable=true"
      - "traefik.backend=rabbitmq"
      - "traefik.port=15672"
      - "traefik.frontend.rule=PathPrefix:/rabbitmq"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"
  
  noderpcserver:
    image: classtranscribe/rpcserver
    env_file:
      - ".env"
    volumes:
        - "${DATA:-~/docker_data}/data:/data"
        - type: bind
          source: ./WebAPI/NodeRpcServer
          target: /NodeRpcServer
        - type: bind
          source: ./WebAPI/ct.proto
          target: /ct.proto
        - /NodeRpcServer/node_modules
    ports:
      - "50052:50052"
    container_name: "noderpcserver"
    command: sh -c "cd NodeRpcServer; npm install; npm rebuild; npm start"
  
  pythonrpcserver:
    image: classtranscribe/rpcserver
    env_file:
      - ".env"
    volumes:
        - "${DATA:-~/docker_data}/data:/data"
        - type: bind
          source: ./WebAPI/PythonRpcServer
          target: /PythonRpcServer
        - type: bind
          source: ./WebAPI/ct.proto
          target: /ct.proto
    ports:
      - "50051:50051"
    container_name: "pythonrpcserver"
    command: sh -c "python3 -m grpc_tools.protoc -I . --python_out=/PythonRpcServer/ --grpc_python_out=/PythonRpcServer/ ct.proto; python3 -u PythonRpcServer/server.py"
    #command: sh -c "tail -f /dev/null"
  
  api:
    image: classtranscribe/api
    volumes:
      - "${DATA:-~/docker_data}/data:/data"
    container_name: "api"
    depends_on:
      - db
      - rabbitmq
      - traefik
    env_file:
      - ".env"
    labels:
      - "traefik.enable=true"
      - "traefik.backend=api"
      - "traefik.port=80"
      - "traefik.frontend.rule=PathPrefix: /api/,/data/,/swag"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"
    command: "/wait-for rabbitmq:5672 --timeout=50 -- dotnet /app/ClassTranscribeServer.dll"

  taskengine:
    image: classtranscribe/taskengine
    volumes:
      - "${DATA:-~/docker_data}/data:/data"
    container_name: "taskengine"
    depends_on:
      - db
      - rabbitmq
      - noderpcserver
      - pythonrpcserver
    env_file:
      - ".env"
    command: "/wait-for rabbitmq:5672 --timeout=50 -- dotnet /app/TaskEngine.dll"
  
  dem:
    image: quaide/dem:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        source: ./dem_conf.yml
        target: /app/conf.yml
  
  frontend:
    image: classtranscribe/frontend:latest
    env_file:
      .env
    depends_on:
      - traefik
      - api
    labels:
      - "traefik.enable=true"
      - "traefik.backend=frontend"
      - "traefik.port=80"
      - "traefik.frontend.rule=PathPrefix: /"
      - "traefik.website.frontend.whiteList.sourceRange=${TRAEFIK_IPFILTER:-172.16.0.0/12}"
    container_name: "frontend"